.site-header {
  min-height: 56px;
  width: $container-width;
  position: fixed;
  background-color: #363636;
  box-shadow: 0 5px 6px -6px #000000;
  z-index: 100;
}
@media (max-width: $container-width) {
  .site-header {
    min-height: 56px;
    width: 95vw;
    position: fixed;
    background-color: #363636;
    box-shadow: 0 5px 6px -6px #000000;
    z-index: 100;
  }
}
.site-header a {
  text-decoration: none;
  color: white;
}

.site-header-img {
  max-width: 200px;
  padding-top: 10px;
}

.site-header-img-dropdown {
  max-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.site-title {
  font-size: 26px;
  font-weight: 400;
  line-height: 56px;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 10px;
  float: left;
  color: white
}
.header-row {
  display: flex;
  justify-content: center;
}
.menu-list {
  line-height: $header-thickness;
  float: right;
}
.menu-link {
  padding: 5px 10px;
  transition: 1.0s;
}
.menu-link:hover{
  text-decoration: underline;
  text-decoration-color: white;
  transition-property: text-decoration;
}

/*
  Responsiveness with a dropdown menu
*/

@media (min-width: $container-width) {
  .dropbtn {
    display: none;
  }
  .dropdown-content {
    display: none;
  }

  .site-header-img-dropdown {
    display: none;
  }
}
@media (max-width: $container-width) {
  .menu-list {
    display: none;
  }
  .site-header-img {
    display: none;
  }
  .site-title {
    padding-right: 0.25rem;
  }
  .dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    margin-top: 4px;
    font-size: 30px;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position:absolute;
    top:0;
    left:0;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #3f3f3f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #4f4f4f;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .dropbtn {
    background-color: #3f3f3f;
  }
}
