@mixin social-media-icon($color, $transition){
  -webkit-transition: $transition;
  -o-transition: $transition;
  -ms-transition: $transition;
  -moz-transition: $transition;
  transition: $transition;
  transition-property: border-color;
  border-style: solid;
  border-color: transparent;
  border-radius: 25%;
  border-width: 1px;
  &:hover{
    border-style: solid;
    border-color: white;
    border-radius: 25%;
    border-width: 1px;
  }
}

.fa-envelope {
  padding: 5px;
  @include social-media-icon($envelope-color, $icon-transition-time);
}

.fa-twitter {
  padding: 5px;
  @include social-media-icon($twitter-color, $icon-transition-time);
}

.fa-instagram {
  padding: 5px;
  @include social-media-icon($instagram-color, $icon-transition-time);
}

.fa-github {
  padding: 5px;
  @include social-media-icon($github-color, $icon-transition-time);
}

.fa-linkedin {
  padding: 5px;
  @include social-media-icon($linkedin-color, $icon-transition-time);
}

.fa-facebook {
  padding: 5px;
  @include social-media-icon($facebook-color, $icon-transition-time);
}

.fa-google-plus {
  padding: 5px;
  @include social-media-icon($google-color, $icon-transition-time);
}

.fa-pinterest {
  padding: 5px;
  @include social-media-icon($pinterest-color, $icon-transition-time);
}

.fa-medium {
  padding: 5px;
  @include social-media-icon($medium-color, $icon-transition-time);
}

.fa-codepen {
  padding: 5px;
  @include social-media-icon($codepen-color, $icon-transition-time);
}

.fa-rss-square {
  padding: 5px;
  @include social-media-icon($rss-color, $icon-transition-time);
}

.fa-bluesky {
  padding: 5px;
  @include social-media-icon($bluesky-color, $icon-transition-time)
}

.bluesky-icon {
  padding: 5px;
  -webkit-transition: $icon-transition-time;
  -o-transition: $icon-transition-time;
  -ms-transition: $icon-transition-time;
  -moz-transition: $icon-transition-time;
  transition: $icon-transition-time;
  transition-property: border-color;
  height:14px;
  border-style: solid;
  border-color: transparent;
  border-radius: 25%;
  border-width: 1px;
}

.bluesky-icon:hover {
  border-style: solid;
  border-color: white;
  border-radius: 25%;
  border-width: 1px;
}